:root {
    --color-primary: rgba(1, 81, 155, 0.822);
    --color-secondary: rgba(0, 151, 138, 0.829);
    --color-accent: #D6E8DB;
    --color-highlight: #FFF8DE;
}

html {
    background: linear-gradient(to right, rgb(28, 44, 93) 0%, rgb(28, 36, 61) 100%) no-repeat left top;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}

body {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: 'Lora', serif;
    color: rgb(224, 226, 238);
    margin-bottom: 2rem;
}

p {
    text-align: left;
}

h1 {
    font-size: 2.5rem;
}

hr {
    color: var(--color-accent);
    background-color: var(--color-accent);
    max-height: 2px;
    width: 20%;
}

.hidden {
    opacity: 0;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    transition: ease-out 0.3s;
    transform: translateX(-3%);
    transition-delay: 0.3s;
}

.show {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    transform: translateX(0%);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.links-container {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-link {
    margin-top: 2em;
    font-size: x-large;
    text-decoration: none;
    color: var(--color-highlight);
    display: block;
}

.svg-icon {
    fill: var(--color-accent);
}

.carousel {
    margin: 3rem 0;
}

.carousel img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    max-height: 45vh;
}

.carousel-item {
    transition: transform 0.2s ease-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0.35s ease-in;
  }

.center-horizontal{
    position: relative;
    margin: 0.8rem auto;
    justify-self: center;
}

.btn {
    margin:2rem 0;
}

.clamp-width{
    max-width: 600px;
}

